<div class="w-75 mx-auto">
  <p class="fs-1">Edit product</p>
  {{#if editProductError}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Error!</strong>
      {{editProductError}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  {{/if}}
  <form action="/edit-product/{{product._id}}" , method="post">
    <div class="form-floating mb-3">
      <input type="text" value="{{product.title}}" class="form-control" name="title" id="floatingInput" placeholder="title" />
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Description" name="description" id="floatingTextarea2" style="height: 120px">{{product.description}}</textarea>
      <label for="floatingTextarea2">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" value="{{product.image}}" class="form-control" name="image" id="floatingInput" placeholder="image" />
      <label for="floatingInput">Image</label>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text bg-light">$</span>
      <div class="form-floating">
        <input type="number" value="{{product.price}}" class="form-control" name="price" id="floatingInputGroup1" placeholder="Price" />
        <label for="floatingInputGroup1">Price</label>
      </div>
    </div>
    <div class="d-flex gap-2">
      <input type="text" class="form-control w-50" name="add_tag" id="floatingInputGroup1" placeholder="Add Tag" />
      {{#if product.tags.length}}
        <select name="delete_tag" class="form-control w-50" id="cars">
          <option value="0" selected>Select a tagname to delete</option>
          {{#each product.tags}}
            <option value={{this}}>{{this}}</option>
          {{/each}}
        </select>
      {{else}}
        <p>There are not any tagnames to delete</p>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-primary mt-3">Edit product</button>
  </form>
</div>